# requirements.txt
snowflake-snowpark-python
streamlit
requests



#name: app_environment
pip install snowflake-snowpark-python

channels:
  - snowflake
dependencies:
  - python=3.8.*
  - snowflake-snowpark-python=
  - streamlit=
